<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <form [formGroup]="form">
    <h2 *ngIf="!confirm" >Add Student Record</h2>
    <div class="container">
    
      <div *ngIf="!confirm" class="avatar">
        <mat-label>Profile</mat-label>
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose Image</button>
        <input hidden 
            (change)="onFileSelected($event)" 
            #fileInput 
            type="file" 
            accept=".jpeg,.jpg,.png"
            formControlName="profile"
            > 
        <span class="file-name">{{selectedFile?.name}}</span>
        
      </div>

      <div class="profile" *ngIf="confirm">
        <h2  class="profile-ttl">Your Profile</h2>
        <img class="profile-img" src="{{imageSrc}}" alt="">
      </div>
      <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" [readonly]="!editable">
        <mat-error *ngIf="form.get('name')?.errors?.['required']">Name is Required</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="legacy">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="form.get('address')?.errors?.['required']">Address is Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" [readonly]="!editable">
        <mat-error *ngIf="form.get('phone')?.errors?.['required']">Phone is Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" [readonly]="!editable">
        <mat-error *ngIf="form.get('year')?.errors?.['required']">Year is Required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-error *ngIf="form.get('date_of_birth')?.errors?.['required']">Birthday is Required</mat-error>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

    </div>


    <button *ngIf="!confirm" class="submit-btn" type="button" mat-raised-button color="primary" (click)="isConfirm()">submit</button>
    <button *ngIf="!confirm" class="cancel-btn" type="button" mat-raised-button (click)="cancel()">cancel</button>
  
    <button *ngIf="confirm" class="submit-btn" type="submit" mat-raised-button color="primary" (click)="onClick()">confirm</button>
    <button *ngIf="confirm" class="cancel-btn" type="cancel" mat-raised-button (click)="isConfirm()">back</button>
  </form>

</mat-card>
