<mat-card class="container clearfix">
   <ul class="nav clearfix">
      <li class="nav-item active">
         <a class="nav-link" href="#">Home
            <span class="sr-only" routerLink="/">(current)</span>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" routerLink="/admin">Report</a>
      </li>
      <li class="nav-item" *ngIf="isUserLoggedIn">
         <a class="nav-link" href="expenses/detail">Add Expense</a>
      </li>
      <li class="nav-item" *ngIf="isUserLoggedIn">
   
         <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
         <div *ngIf="isUserLoggedIn; else isLogOut">
            <a class="nav-link" routerLink="/logout">Logout</a>
         </div>
   
         <ng-template #isLogOut>
            <a class="nav-link" routerLink="/login">Login</a>
         </ng-template>
      </li>
   </ul>
</mat-card>


<router-outlet></router-outlet>