<h1>Reactive Form</h1>
<form [formGroup]="form">
  <div class="form-group">
    <label>Name
      <input type="text" formControlName="name" class="form-control">
    </label>

    <div *ngIf="name?.touched && name?.invalid">
      <div *ngIf="name?.errors?.['required']" class="alert alert-danger">
        Name is required
      </div>

      <div *ngIf="name?.errors?.['minlength']" class="alert alert-danger">
        Name should be mininum {{name?.errors?.['minlength'].requiredLength}} characters
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Password
      <input type="password" formControlName="password" class="form-control">
    </label>

    <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">
      <div *ngIf="password?.errors?.['required']">
        Password is required
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Confirm Password
      <input type="password" formControlName="confPassword" class="form-control">
    </label>
  </div>

  <div *ngIf="confPassword?.touched && form.invalid" class="alert alert-danger">
    <div *ngIf="confPassword?.errors?.['required']">
      Password is required
    </div>
    <div *ngIf="form.errors?.['passwordsShouldMatch']">
      Password Does not Match
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<ul *ngFor="let movie of movies">
  <li>Name:  {{movie.name}}</li>
  <li>Year:   {{movie.year}}</li>
  <li>Rating: {{movie.rating}}</li>
</ul>
