<div> 
  Today's date :- {{presentDate | date}} 
</div>
<br>
<div> 
  short date :- {{presentDate | date:'shortDate' }} <br/>
  Full date :- {{presentDate | date:'fullDate' }} <br/> 
  Formatted date:- {{presentDate | date:'M/dd/yyyy'}} <br/> 
  Hours and minutes:- {{presentDate | date:'h:mm'}} <br/>
  Date with uppercase :- {{presentDate | date:'fullDate' | uppercase}} <br/>
  Date with lowercase :- {{presentDate | date:'medium' | lowercase}} <br/>  
</div>
<br>
<div> 
  <!--Seconds changing in Time: {{ timeChange | date:'h:mm:ss'}}-->
  Seconds changing in Time: {{ timeChange | async}}
</div>
<br>

<div style="text-align:center"> 
  <h3> Currency Pipe</h3> 
  <p>{{ price | currency:'EUR':true:'3.0-0'}}</p> 
  <p>{{ price | currency:'USD' }}</p> 
</div>
<br>

<div> 
  <h3>Start index:- {{Fruits | slice:2}}</h3> 
  <h4>Start and end index:- {{Fruits | slice:1:4}}</h4> 
  <h5>Negative index:- {{Fruits | slice:-2}}</h5> 
  <h6>Negative start and end index:- {{Fruits | slice:-4:-2}}</h6> 
</div>
<br>

<div style="text-align:center"> 
  <h3>Decimal Pipe</h3> 
  <p> {{decimalNum1 | number}} </p> 
  <p> {{decimalNum2 | number}} </p> 
  <br>
  <p> Apply formatting:- {{decimalNum1 | number:'3.1-1'}} </p> 
  <p> Apply formatting:- {{decimalNum1 | number:'2.1-4'}} </p> 
</div>
<br>

<div style="text-align:center"> 
  <h3>Percent Pipe</h3> 
  <p> {{decimalNum3 | percent:'2.2'}} </p> 
</div> 
<br>

<div> 
  <p ngNonBindable>{{ jsonData }}</p> (1) 
  <p>{{ jsonData }}</p> 
  <p ngNonBindable>{{ jsonData | json }}</p> 
  <p>{{ jsonData | json }}</p> 
</div> 
<br>

<div> 
  <p> DigitCount Pipe </p> 
  <h1>{{ digits | digitcount }}</h1> 
</div> 

<!-- Page Content -->
<div class="container"> 
  <div class="row"> 
     <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <div class="container" style="padding-left: 0px; padding-right: 0px;"> 
           <div class="row"> 
              <div class="col-sm" style="text-align: left;"> 
                 {{ title }} 
              </div> 
              <div class="col-sm" style="text-align: right;"> 
                 <button type="button" class="btn btn-primary">Edit</button> 
              </div> 
           </div> 
        </div> 
        <div class="container box" style="margin-top: 10px;"> 
           <table class="table table-striped"> 
              <thead> 
                 <tr> 
                    <th>Item</th> 
                    <th>Amount</th> 
                    <th>Category</th> 
                    <th>Location</th> 
                    <th>Spent On</th> 
                 </tr> 
              </thead> 
              <tbody> 
                 <tr *ngFor="let entry of expenseEntries"> 
                    <th scope="row">{{ entry.item }}</th> 
                    <th>{{ entry.amount }}</th> 
                    <td>{{ entry.category }}</td> 
                    <td>{{ entry.location }}</td> 
                    <td>{{ entry.spendOn | date:'short'}}</td>
                 </tr> 
              </tbody> 
           </table> 
        </div> 
     </div> 
  </div> 
</div>